@using MvcPaging;
@using Vega.USiteBuilder;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Search>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    ViewBag.HeadSectionTitle = Model.Title;
    
    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}



<div class="wrapper centered">
    <ul class="items-list search-list full">

        @if (Model.searchResults != null && Model.searchResults.Any())
        {
            foreach (var result in Model.searchResults)
            {
                <li>
                    <div class="text">
                        <h2><a href="@result.Url">@result.Title</a></h2>
                        <p>
                            @result.Description ...
                        </p>
                        <a href="@result.Url" class="read-more-link">Read more <i></i></a>
                    </div>
                </li>
            }
        }
        else
        { 
            <h1>No search results</h1>
            <p>No results found. Please adjust your search and try again.</p>
        }

    </ul>

    @if (Model.searchResults != null && Model.searchResults.Any())
    {
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
            .DisplayTemplate("_PagingTemplate")
            .AddRouteValue("s", Model.Query)
            .AlwaysAddFirstPageNumber()
            .SetPreviousPageText("")
            .SetNextPageText("")

        )
    }

</div>

@section additionalFooterSection
{

}
