@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Services>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    ViewBag.HeadSectionTitle = Model.Name;
    
    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}


<div class="wrapper">
    <div class="main centered">
        <div class="rte-content">
            @Html.Raw(Model.RteContent)
        </div>

        @{
            var services = ContentHelper.GetChildren<ServiceItem>(Model.Id).ToList();
        }

        @if (services != null && services.Any())
        {
            <ul class="items-list has-hover">
                @foreach (var service in services)
                {
                    <li class="@(services.IndexOf(service) % 2 != 0 ? "right-aligned" : string.Empty)">
                        <div class="img-box">
                            <div class="romb blue-romb">
                                <a href="@service.NiceUrl">
                                @if(service.ServiceImage.HasValue)
                                {
                                    <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(service.ServiceImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(service.ServiceImage.Value))" class="icon-img" />
                                }
                                </a>
                            </div>
                        </div>
                        <div class="text">
                            <h2><a href="@service.NiceUrl">@service.Name</a></h2>
                            <p>
                                <a href="@service.NiceUrl">@Html.Raw(service.ServiceContent.Substring(0,445))</a>
                            </p>
                            <a href="@service.NiceUrl" class="read-more-link">Read more <i></i></a>
                        </div>
                    </li>
                }
            </ul>
        }
       
    </div>
    <aside class="sidebar">
        <div class="widget slider">
            <h3><a href="news.html">What's new</a></h3>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="why-smartcat.html">Why SmartCat?</a></h4>
                            <p>
                                The concept of Big Data has intrigued us from the very first online articles describing this new frontier of technology, back in 2007. Imagine if we could know...
                            </p>
                            <span class="author">Nenad Bozic</span>
                            <span class="date">24/07/15</span>
                        </div>
                    </li>
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="cassandra-summit.html">Cassandra summit 2015</a></h4>
                            <p>
                                We are excited for the upcoming Cassandra Summit in San Francisco, the biggest NoSQL conference in the world and epicenter of Cassandra...
                            </p>
                            <span class="author">Matija Gobec</span>
                            <span class="date">30/07/15</span>
                        </div>
                    </li>
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="coding-serbia.html">Coding Serbia</a></h4>
                            <p>
                                We would like to share our excitement with you. This October we will be a part of the 3rd international Coding Serbia conference in Novi Sad as silver...
                            </p>
                            <span class="author">Bojan Kovac</span>
                            <span class="date">05/08/15</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget slider">
            <h3><a href="team.html">Challengers</a></h3>
            <div class="flexslider challengers">
                <ul class="slides">
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-bojan.png">
                            <div class="author-info">
                                <h4>Bojan Kovac</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-matija.png">
                            <div class="author-info">
                                <h4>Matija Gobec</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-nenad.png">
                            <div class="author-info">
                                <h4>Nenad Bozic</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>


@section additionalFooterSection
{

}


