@using SmartCat.Business.Helpers;
@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<ServiceItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        <h1>@ContentHelper.GetByNodeId(Model.ParentId).Name</h1>
    </div>
</div>

<div class="content">

    <div class="wrapper">
        <div class="main centered">
            <div class="title">
                <h2>
                    @if (Model.ServiceTitleImage.HasValue)
                    {
                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.ServiceTitleImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.ServiceTitleImage.Value))" class="shape" />
                    }
                    @Model.Name
                </h2>
                <a href="@ContentHelper.GetByNodeId(Model.ParentId).NiceUrl" class="go-back hidden-on-mobile">@Umbraco.GetDictionaryValue("Common.Back")</a>
            </div>
            <div class="rte-content">
                @Html.Raw(Model.ServiceContent)
            </div>

            @{
                var otherServices = ContentHelper.GetChildren<ServiceItem>(Model.ParentId).Where(x => x.Id != Model.Id).ToList();
            }

            @if (otherServices != null && otherServices.Any())
            {
                <section class="full-width what-we-do-block">
                    <h3>@Umbraco.GetDictionaryValue("Service.OtherServices")</h3>

                    @foreach (var service in otherServices)
                    {
                        <div class="one-third @(otherServices.IndexOf(service) % 2 != 0 ? "right-aligned" : string.Empty)">
                            <div class="romb-wrap">
                                <div class="top romb">
                                    <div class="box-title">
                                        <h4>@service.Name</h4>
                                    </div>
                                    <div class="img-wrap">
                                        <a href="@service.NiceUrl">
                                            @if (service.ServiceImage.HasValue)
                                            {
                                                <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.ServiceImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.ServiceImage.Value))" class="icon-img" />
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h2><a href="@service.NiceUrl">@service.Name</a></h2>
                                <p>
                                    @Html.Raw(service.ServiceContent != null ? service.ServiceContent.Substring(0, 170) + "..." : string.Empty)
                                    <a href="@service.NiceUrl" class="ico arrow-more hidden-on-mobile"></a>
                                </p>
                                <a href="@service.NiceUrl" class="btn show-on-mobile">@Umbraco.GetDictionaryValue("Common.ReadMore")</a>
                            </div>
                        </div>
                    }
                </section>
            }

        </div>
        <aside class="sidebar">

            @{
                var servicesContainer = ContentHelper.GetByNodeId<Services>(Model.ParentId);
            }

            @if (servicesContainer.TeamWidget != null && servicesContainer.TeamWidget.Any())
            {
                <div class="widget slider">
                    <h3><a href="@ContentHelper.GetByNodeId(ContentHelper.GetByNodeId(servicesContainer.TeamWidget.First()).ParentId).NiceUrl">@Umbraco.GetDictionaryValue("Service.Challengers")</a></h3>
                    <div class="flexslider challengers">
                        <ul class="slides">

                            @foreach (var memberId in servicesContainer.TeamWidget)
                            {
                                var teamMember = ContentHelper.GetByNodeId<TeamMember>(memberId);

                                <li>
                                    <div class="inner">
                                        <img src="@MediaHelper.GetMediaDownloadUrl(MediaHelper.GetMediaById(teamMember.SidebarImage.Value))" alt="" />
                                        <div class="author-info">
                                            <h4>@teamMember.FirstName @teamMember.LastName</h4>
                                            <span>@teamMember.WorkPosition</span>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            }

            @if (servicesContainer.NewsWidget != null && servicesContainer.NewsWidget.Any())
            {
                <div class="widget slider">
                    <h3><a href="@ContentHelper.GetByNodeId(ContentHelper.GetByNodeId(servicesContainer.NewsWidget.First()).ParentId).NiceUrl">@Umbraco.GetDictionaryValue("Service.WhatIsNew")</a></h3>
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var newsId in servicesContainer.NewsWidget)
                            {
                                var newsPost = ContentHelper.GetByNodeId<NewsPost>(newsId);

                                <li>
                                    <div class="text-item">
                                        <div class="romb badge">
                                            <span class="reset-inner">N.</span>
                                        </div>
                                        <h4><a href="@newsPost.NiceUrl">@newsPost.Name</a></h4>
                                        <p>
                                            @Regex.Replace(newsPost.RteContent, @"<(.|\n)*?>", string.Empty).Substring(0, 160) ...
                                        </p>
                                        @if (newsPost.Author.HasValue)
                                        {
                                            var author = ContentHelper.GetByNodeId<TeamMember>(newsPost.Author.Value);
                                            <span class="author">@author.FirstName @author.LastName</span>
                                        }
                                        <span class="date">@newsPost.PostDate.ToString("MM/dd/yy")</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

        </aside>
    </div>
</div>

@section additionalFooterSection
{

}

