@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Technologies>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    ViewBag.HeadSectionTitle = Model.Name;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="wrapper">
    <div class="main">
        <div class="swiper-container">
            <ul class="one-half-list swiper-wrapper">

                @{
                    var technologyItems = ContentHelper.GetChildren<TechnologyItem>(Model.Id).ToList();
                }

                @if (technologyItems != null && technologyItems.Any())
                {
                    foreach (var technology in technologyItems)
                    {
                        <li class="swiper-slide">
                            <div class="box">
                                <div class="img-wrap">
                                    @if (technology.TechnologyImage.HasValue)
                                    { 
                                       <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(technology.TechnologyImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(technology.TechnologyImage.Value))" class="greyscale" />
                                    }
                                    
                                </div>
                                <div class="contact-box hidden-on-mobile">
                                        @{
                                            var typedTeamMember = ContentHelper.GetByNodeId<TeamMember>(technology.MemberContact.Value);
                                        }
                                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(typedTeamMember.TechnologyImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(typedTeamMember.TechnologyImage.Value))" />
                                    
                                    <span>Have questions?</span>
                                    <a href="mailto: @typedTeamMember.EmailAddress">Contact @typedTeamMember.FirstName</a>

                                </div>
                            </div>
                            <div class="text">
                                <p>
                                    @technology.TechnologyDescription
                                </p>
                                <div class="contact-box">
                                    <span>Have questions?</span>
                                    <a href="mailto: @typedTeamMember.EmailAddress">Contact @typedTeamMember.FirstName</a>
                                </div>
                            </div>
                        </li>
                    }
                }
-
            </ul>
            <div class="swiper-pagination show-on-mobile"></div>
        </div>
        <div class="certificate-block hidden-on-mobile">
            <span>Associations / Certificates</span>

            @{
                var certificateContainer = ContentHelper.GetChildren<CertificateContainer>(Model.Id).FirstOrDefault();
            }

            @if (certificateContainer != null)
            {
                
               var certificateItems = ContentHelper.GetChildren<CertificateItem>(certificateContainer.Id).ToList();
                
                if (certificateItems != null && certificateItems.Any())
                {
                    <ul>

                        @foreach (var certificate in certificateItems)
                        {
                            <li>
                                <a href="@certificate.CertificateUrl.Url" target="@certificate.CertificateUrl.Target">
                                   @if(certificate.CertificateImage.HasValue)
                                   { 
                                     <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(certificate.CertificateImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(certificate.CertificateImage.Value))" />
                                   }
                                </a>
                            </li>
                        }

                    </ul>
                }

            }
           
        </div>
    </div>
    <aside class="sidebar">
        <div class="widget slider">
            <h3><a href="team.html">Challengers</a></h3>
            <div class="flexslider challengers">
                <ul class="slides">
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-bojan.png">
                            <div class="author-info">
                                <h4>Bojan Kovac</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-matija.png">
                            <div class="author-info">
                                <h4>Matija Gobec</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img src="assets/img/content/sidebar-nenad.png">
                            <div class="author-info">
                                <h4>Nenad Bozic</h4>
                                <span>Co-Founder</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget slider">
            <h3><a href="news.html">What's new</a></h3>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="why-smartcat.html">Why SmartCat?</a></h4>
                            <p>
                                The concept of Big Data has intrigued us from the very first online articles describing this new frontier of technology, back in 2007. Imagine if we could know...
                            </p>
                            <span class="author">Nenad Bozic</span>
                            <span class="date">24/07/15</span>
                        </div>
                    </li>
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="cassandra-summit.html">Cassandra summit 2015</a></h4>
                            <p>
                                We are excited for the upcoming Cassandra Summit in San Francisco, the biggest NoSQL conference in the world and epicenter of Cassandra...
                            </p>
                            <span class="author">Matija Gobec</span>
                            <span class="date">30/07/15</span>
                        </div>
                    </li>
                    <li>
                        <div class="text-item">
                            <div class="romb badge">
                                <span class="reset-inner">N.</span>
                            </div>
                            <h4><a href="coding-serbia.html">Coding Serbia</a></h4>
                            <p>
                                We would like to share our excitement with you. This October we will be a part of the 3rd international Coding Serbia conference in Novi Sad as silver...
                            </p>
                            <span class="author">Bojan Kovac</span>
                            <span class="date">05/08/15</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>









@section additionalFooterSection
{

}
