@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Contact>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}


<div class="page-title">
    <div class="wrapper">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="content">
    <div class="wrapper centered">
        <div class="contact-us">
            <form id="mainContactForm" name="mainContactForm" method="post">
                <ol class="contact-questions">
                    <li>
                        <ol class="main-questions">
                            <li>
                                <label for="SenderName">*What's your name?</label>
                                <div class="contact-info">
                                    <input id="senderName" name="senderName" type="text" />
                                </div>
                            </li>
                            <li>
                                <label for="SenderEmail">*Email?</label>
                                <div class="contact-info">
                                    <input id="senderEmail" name="senderEmail" type="email" />
                                </div>
                            </li>
                            <li>
                                <label for="SenderContact">Contact number?</label>
                                <div class="contact-info">
                                    <input id="senderNumber" name="senderNumber" type="text" />
                                </div>
                            </li>
                        </ol>
                        <!-- / main-questions -->
                    </li>
                    <li class="contact-who-block">
                        <p>*Who do you want to contact?</p>
                        <div class="contacts-wrapper">
                            <div class="one-contact active" id="1" onclick="whoSelected(this)">
                                <div class="contact-romb-wrap contact-office-img">
                                    <div class="contact-who romb">
                                        <div class="img-wrap">
                                            <img src="/img/content/contact-office.png" alt="" class="contact-img" />
                                        </div>
                                    </div>
                                    <div class="contact-who-name hidden-on-mobile">
                                        <p>Our office</p>
                                    </div>
                                </div>
                            </div>

                            @if (Model.ContactTeamMembers != null && Model.ContactTeamMembers.Any())
                            {
                                foreach (var memberId in Model.ContactTeamMembers)
                                {
                                    var contactMember = ContentHelper.GetByNodeId<TeamMember>(memberId);

                                    <div class="one-contact hidden-on-mobile" id="@contactMember.Id" onclick="whoSelected(this)">
                                        <div class="contact-romb-wrap">
                                            <div class="contact-who romb">
                                                <div class="img-wrap">
                                                    <img src="@(contactMember.ContactImage.HasValue ? MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(contactMember.ContactImage.Value)) : string.Empty)" alt="" class="contact-img" />
                                                </div>
                                            </div>
                                            <div class="contact-who-name">
                                                <p>@contactMember.FirstName @contactMember.LastName, @contactMember.WorkPosition</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="select-contact-form show-on-mobile">
                                <select id="contactMemberId" name="contactMemberId">
                                    <option value="1" selected>Our office</option>
                                    @if (Model.ContactTeamMembers != null && Model.ContactTeamMembers.Any())
                                    {
                                        foreach (var memberId in Model.ContactTeamMembers)
                                        {
                                            var contactMember = ContentHelper.GetByNodeId<TeamMember>(memberId);

                                            <option value="@contactMember.Id">@contactMember.FirstName @contactMember.LastName, @contactMember.WorkPosition</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="Subject">*Subject</label>
                        <div class="contact-info">
                            <input id="subject" name="subject" type="text" />
                        </div>
                    </li>
                    <li class="contact-message">
                        <label for="Message">*Message?</label>
                        <div class="contact-info">
                            <textarea id="message" name="message"></textarea>
                        </div>
                    </li>
                </ol>
                <a href="javascript:;" class="btn arrow js_mainContactFormSubmit"><span>Send</span> <i class="ico"></i></a>
            </form>
        </div>
    </div>
</div>

@section additionalFooterSection
{
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/pages/contact.js"></script>
}
