@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;

@inherits UmbracoTemplatePageBase<Expertise>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="content">

    <div class="wrapper">
        <div class="main centered">
            <div class="rte-content">
                @Html.Raw(Model.RteContent)
            </div>

            @{
                var services = ContentHelper.GetChildren<ExpertiseItem>(Model.Id).ToList();
            }

            @if (services != null && services.Any())
            {
                <ul class="items-list has-hover">
                    @foreach (var service in services)
                    {
                        <li class="@(services.IndexOf(service) % 2 != 0 ? "right-aligned" : string.Empty)">
                            <div class="img-box">
                                <div class="romb blue-romb">
                                    <a href="@service.NiceUrl">
                                        @if (service.ServiceImage.HasValue)
                                        {
                                            <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(service.ServiceImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(service.ServiceImage.Value))" class="icon-img" />
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="text">
                                <h2><a href="@service.NiceUrl">@service.Name</a></h2>
                                <p>
                                    <a href="@service.NiceUrl">@Html.Raw(!string.IsNullOrEmpty(service.FeaturedText) ? service.FeaturedText : string.Empty)</a>
                                </p>
                                <a href="@service.NiceUrl" class="read-more-link">@Umbraco.GetDictionaryValue("Common.ReadMore")<i></i></a>
                            </div>
                        </li>
                    }
                </ul>
            }

        </div>

        <aside class="sidebar">
            @{
                var tags = new List<int>();

                Html.RenderPartial("~/Views/Partials/_NewsWidget.cshtml", Model);
                Html.RenderPartial("~/Views/Partials/_BlogsWidget.cshtml", tags);
                //Html.RenderPartial("~/Views/Partials/_TechnologyWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_ExpertiseWidget.cshtml", Model);
                Html.RenderPartial("~/Views/Partials/_TeamWidget.cshtml", tags);
            }
        </aside>
    </div>

</div>

@section additionalFooterSection
{
    
}