@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Expertise>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="main centered">
            <div class="rte-content">
                @Html.Raw(Model.RteContent)
            </div>

            @{
                var expertises = ContentHelper.GetChildren<ExpertiseItem>(Model.Id).ToList();
            }

            @if (expertises != null && expertises.Any())
            {
                foreach (var expertise in expertises)
                {
                    <div class="title">
                        <h2>
                            @if (expertise.ServiceTitleImage.HasValue)
                            {
                                <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(expertise.ServiceTitleImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(expertise.ServiceTitleImage.Value))" class="shape" />
                            }
                            @expertise.Name
                        </h2>
                    </div>
                
                    <div class="rte-content">
                        <p>
                            @Html.Raw(!string.IsNullOrEmpty(expertise.ServiceContent) ? expertise.ServiceContent : string.Empty)
                        </p>
                    </div>
                    
                    var technologies = ContentHelper.GetChildren<TechnologyItem>(expertise.Id);
                    if (technologies != null && technologies.Any())
                    {
                        <div class="full-width carousel-block">
                            <div class="wrapper">
                                <div class="flexslider">
                                    <ul class="slides">

                                        @foreach (var technology in technologies)
                                        {
                                            <li>
                                                <a href="@(technology.TechnologyLink != null ? technology.TechnologyLink.Url : string.Empty)" target="@(technology.TechnologyLink != null ? technology.TechnologyLink.Target : string.Empty)">
                                                    <img src="@(technology.TechnologyImage.HasValue ? MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(technology.TechnologyImage.Value)) : string.Empty)" />
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>

        @{
            var newsWidget = WidgetsHelper.NewsWidget;
            var teamWidget = WidgetsHelper.TeamWidget;
        }
        <aside class="sidebar">
            @if (newsWidget != null && newsWidget.Any())
            {
                <div class="widget slider">
                    <h3><a href="@ContentHelper.GetByNodeId(ContentHelper.GetByNodeId(newsWidget.First()).ParentId).NiceUrl">@Umbraco.GetDictionaryValue("Service.WhatIsNew")</a></h3>
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var newsId in newsWidget)
                            {
                                var newsPost = ContentHelper.GetByNodeId<NewsPost>(newsId);

                                <li>
                                    <div class="text-item">
                                        <div class="romb badge">
                                            <span class="reset-inner">N.</span>
                                        </div>
                                        <h4><a href="@newsPost.NiceUrl">@newsPost.Name</a></h4>
                                        <p>
                                            @Regex.Replace(newsPost.RteContent, @"<(.|\n)*?>", string.Empty).Substring(0, 160) ...
                                        </p>
                                        @if (newsPost.Author.HasValue)
                                        {
                                            var author = ContentHelper.GetByNodeId<TeamMember>(newsPost.Author.Value);
                                            <span class="author">@author.FirstName @author.LastName</span>
                                        }
                                        <span class="date">@newsPost.PostDate.ToString("MM/dd/yy")</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (teamWidget != null && teamWidget.Any())
            {
                <div class="widget slider">
                    <h3><a href="@ContentHelper.GetByNodeId(ContentHelper.GetByNodeId(teamWidget.First()).ParentId).NiceUrl">@Umbraco.GetDictionaryValue("Service.Challengers")</a></h3>
                    <div class="flexslider challengers">
                        <ul class="slides">

                            @foreach (var memberId in teamWidget)
                            {
                                var teamMember = ContentHelper.GetByNodeId<TeamMember>(memberId);

                                <li>
                                    <div class="inner">
                                        @if (teamMember.SidebarImage.HasValue)
                                        {
                                            <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(teamMember.SidebarImage.Value))" alt="" />
                                        }
                                        <div class="author-info">
                                            <h4>@teamMember.FirstName @teamMember.LastName</h4>
                                            <span>@teamMember.WorkPosition</span>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            }

        </aside>
    </div>

</div>
@section additionalFooterSection
{
    <script type="text/javascript" src="~/scripts/pages/carousel.js"></script>
}


