@using SmartCat.Business.Helpers;
@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Entities.DocumentTypes.Repository;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<ExpertiseItem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        <h1>@ContentHelper.GetByNodeId(Model.ParentId).Name</h1>
    </div>
</div>

<div class="content">

    <div class="wrapper">
        <div class="main centered">
            <div class="title">
                <h2>
                    @if (Model.ServiceTitleImage.HasValue)
                    {
                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.ServiceTitleImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.ServiceTitleImage.Value))" class="shape" />
                    }
                    @Model.Name
                </h2>
                <a href="@ContentHelper.GetByNodeId(Model.ParentId).NiceUrl" class="go-back hidden-on-mobile">@Umbraco.GetDictionaryValue("Common.Back")</a>
            </div>
            <div class="rte-content">
                @Html.Raw(Model.ServiceContent)
            </div>

            @if (Model.FeaturedTechnologies != null && Model.FeaturedTechnologies.Any())
            {
                // TODO: Build this into css
                <div class="full-width carousel-block" style="padding:0">
                    <div class="wrapper">
                        <div class="flexslider">
                            <ul class="slides">

                                @foreach (var techId in Model.FeaturedTechnologies)
                                {
                                    var technology = ContentHelper.GetByNodeId<TechnologyItem>(techId);
                                    
                                    <li>
                                        <a href="@(technology.TechnologyLink != null ? technology.TechnologyLink.Url : string.Empty)" target="@(technology.TechnologyLink != null ? technology.TechnologyLink.Target : string.Empty)">
                                            <img src="@(technology.TechnologyImage.HasValue ? MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(technology.TechnologyImage.Value)) : string.Empty)" />
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
        <aside class="sidebar">
            @{
                var tags = new List<int>();

                Html.RenderPartial("~/Views/Partials/_BlogsWidget.cshtml", tags);
                //Html.RenderPartial("~/Views/Partials/_NewsWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_TechnologyWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_ExpertiseWidget.cshtml", Model);
                Html.RenderPartial("~/Views/Partials/_TeamWidget.cshtml", tags);
            }
        </aside>
    </div>
</div>

@section additionalFooterSection
{
    <script type="text/javascript" src="~/scripts/pages/carousel.js"></script>
}

