@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.News>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
   
    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}


<div class="page-title">
    <div class="wrapper">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="content">

    @{
        var newsPosts = ContentHelper.GetChildren<NewsPost>(Model.Id, true).ToList();
    }

    @if (newsPosts != null && newsPosts.Any())
    {
       newsPosts = newsPosts.OrderByDescending(x => x.PostDate).ToList();

        <div class="wrapper centered">
            <div class="blog-landing">
                <div class="blog-inner-wrap">

                    @foreach (var post in newsPosts)
                    {
                        var postIndex = newsPosts.IndexOf(post);
                        var postClass = string.Empty;
                        var spanClass = string.Empty;
                        //var postClasses = new string[3] { "vertical", "right", "" };
                        var postClasses = new string[1] { "vertical" };

                        switch (postIndex)
                        {
                            case 0:
                                postClass = "stamp";
                                spanClass = "ribbon";
                                break;

                            default:
                                postClass = postClasses.RandomOrder().First();
                                spanClass = "arrow";
                                break;
                        }

                        <a href="@post.NiceUrl">
                            <div class="item @postClass">
                                <div class="img-wrap">
                                    @if (post.BoxImage.HasValue)
                                    {
                                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(post.BoxImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(post.BoxImage.Value))" />
                                    }

                                    <span class="blue-overlay"></span>
                                    <span class="read-more"><i></i></span>
                                    <span class="@spanClass"></span>
                                </div>

                                @if (postClass == "stamp")
                                {
                                    <div class="text hidden-on-mobile">
                                        <h3><span>@post.NewsTitle</span></h3>
                                        <span class="date">@post.PostDate.ToString("MM/dd/yy")</span>
                                    </div>
                                }

                                <div class="text @(postClass == "stamp" ? "show-on-mobile" : string.Empty)">
                                    <span class="date">@post.PostDate.ToString("MM/dd/yy")</span>
                                    <h3>@post.NewsTitle</h3>
                                    @if (postClass != "stamp")
                                    {
                                        <p>
                                            @Regex.Replace(post.RteContent, @"<(.|\n)*?>", string.Empty).Substring(0, 80) ...
                                        </p>
                                    }
                                    @{
                                        var postAuthor = post.Author.HasValue ? ContentHelper.GetByNodeId<TeamMember>(post.Author.Value) : null;
                                    }
                                    @if (postAuthor != null)
                                    {
                                        <span class="author">
                                            By @postAuthor.FirstName @postAuthor.LastName
                                        </span>
                                    }

                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    }

</div>

@section additionalFooterSection
{
    <script type="text/javascript" src="/scripts/libs/jquery.stylish-select.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/scripts/pages/blog.js"></script>
}
