@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;


@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.NewsPost>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        @{
            var newsContainer = ContentHelper.GetChildren<News>(NodeHelper.Home.Id, true).First();
        }
        <h1>@newsContainer.Name</h1>
    </div>
</div>

<div class="content">

    <div class="wrapper o-visible">
        <div class="main article">
            <div class="title">
                <h2>@Model.NewsTitle</h2>
                <a href="@newsContainer.NiceUrl" class="go-back">@Umbraco.GetDictionaryValue("Common.Back")</a>
                <span class="date">@Model.PostDate.ToString("MM/dd/yy")</span>
            </div>
            <div class="article-footer">
                <div class="share-box">
                    <span>@Umbraco.GetDictionaryValue("Common.Share")</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsmartcat.io&t=" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="ico facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fsmartcat.io&text=:%20http%3A%2F%2Fsmartcat.io" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><i class="ico twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=http%3A%2F%2Fsmartcat.io" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="ico gplus"></i></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fsmartcat.io&title=&summary=&source=http%3A%2F%2Fsmartcat.io" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="ico linked"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="img-wrap">
                @if (Model.HeaderImage.HasValue)
                {
                    <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.HeaderImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.HeaderImage.Value))" />
                }
                <div class="badge romb"><span class="reset-inner">N.</span></div>
            </div>
            <div class="rte-content">
                @Html.Raw(Model.RteContent)
            </div>
            <div class="article-nav">
                @{
                    var precedingsSiblings = uQuery.GetNode(Model.Id).GetPrecedingSiblingNodes().LastOrDefault();
                }

                @if (precedingsSiblings != null)
                {
                    <a href="@precedingsSiblings.NiceUrl" class="prev-post">
                        <i></i>
                        @Umbraco.GetDictionaryValue("Blog.PreviousPost")
                    </a>
                }

                @{
                    var followingSiblings = uQuery.GetNode(Model.Id).GetFollowingSiblingNodes().FirstOrDefault();
                }

                @if (followingSiblings != null)
                {
                    <a href="@followingSiblings.NiceUrl" class="next-post">
                        @Umbraco.GetDictionaryValue("Blog.NextPost")
                        <i></i>
                    </a>
                }
            </div>

            @if (Model.Author.HasValue)
            {

                var typedAuthor = ContentHelper.GetByNodeId<TeamMember>(Model.Author.Value);
                var contactUrl = ContactHelper.GetContactUrl(typedAuthor.Id);

                <div class="author-box">
                    @if (typedAuthor.HomeImage.HasValue)
                    {
                        <img src="@MediaHelper.GetMediaDownloadUrl(MediaHelper.GetMediaById(typedAuthor.HomeImage.Value))" alt="" class="hidden-on-mobile" />
                    }
                    <div class="info">
                        <h4><span>@typedAuthor.FirstName @typedAuthor.LastName</span></h4>
                        <h5>@typedAuthor.WorkPosition</h5>
                        <p>
                            @typedAuthor.ShortDescription
                        </p>
                        <div class="bottom">
                            <a href="@contactUrl" class="contact-link">
                                <i class="ico ico-mail"></i> Contact @typedAuthor.FirstName
                            </a>
                            @{
                                Html.RenderPartial("~/Views/Partials/_TeamMemberSocialLinks.cshtml", typedAuthor);
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="disqus-wrap">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'smartcatio'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>

        </div>
        <aside class="sidebar">
            @{
                var tags = new List<int>();

                //Html.RenderPartial("~/Views/Partials/_BlogsWidget.cshtml", tags);
                Html.RenderPartial("~/Views/Partials/_NewsWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_TechnologyWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_ExpertiseWidget.cshtml", Model);
                Html.RenderPartial("~/Views/Partials/_TeamWidget.cshtml", tags);
            }
        </aside>
    </div>
</div>
@section additionalFooterSection
{

}
