@using Vega.USiteBuilder;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Business.Helpers;
@using System.Text.RegularExpressions;

@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<SmartCat.Entities.DocumentTypes.Process>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;

    ViewBag.SeoDescription = Model.SeoDescription;
    ViewBag.SeoKeywords = Model.SeoKeywords;
    ViewBag.SeoAuthor = Model.SeoAuthor;
}

@section additionalHeaderSection
{

}

<div class="page-title">
    <div class="wrapper">
        <h1>@Model.Name</h1>
    </div>
</div>

<div class="content">

    <div class="wrapper">
        <div class="main centered">
            <div class="rte-content">
                @Html.Raw(Model.RteContent)
            </div>

            @{
                var processItems = ContentHelper.GetChildren<ProcessItem>(Model.Id).ToList();
            }

            @if (processItems != null && processItems.Any())
            {
                <ul class="items-list no-hover">

                    @foreach (var process in processItems)
                    {
                        <li class="@(processItems.IndexOf(process) % 2 != 0 ? "right-aligned" : string.Empty)">
                            <div class="img-box">
                                <div class="romb blue-romb">
                                    @if (process.ProcessImage.HasValue)
                                    {
                                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(process.ProcessImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(process.ProcessImage.Value))" class="icon-img" />
                                    }
                                </div>
                            </div>
                            <div class="text">
                                <h2>@process.Name</h2>
                                <p>
                                    @process.ProcessDescription
                                </p>
                            </div>
                        </li>
                    }

                </ul>
            }

        </div>
        <aside class="sidebar">
            @{
                var tags = new List<int>();

                Html.RenderPartial("~/Views/Partials/_BlogsWidget.cshtml", tags);
                Html.RenderPartial("~/Views/Partials/_NewsWidget.cshtml", Model);
                Html.RenderPartial("~/Views/Partials/_TechnologyWidget.cshtml", tags);
                Html.RenderPartial("~/Views/Partials/_ExpertiseWidget.cshtml", Model);
                //Html.RenderPartial("~/Views/Partials/_TeamWidget.cshtml", Model);
            }
        </aside>
    </div>
</div>

@section additionalFooterSection
{

}
