@using Vega.USiteBuilder;
@using SmartCat.Business.Helpers;
@using SmartCat.Entities.DocumentTypes;
@using System.Text.RegularExpressions;

@model List<int>

@{
    Layout = null;

    var blogPosts = WidgetsHelper.BlogsWidget(Model);

    if (blogPosts != null && blogPosts.Any())
    {
        <div class="widget slider">
            <h3><a href="@ContentHelper.GetByNodeId(blogPosts.First().ParentId).NiceUrl">@umbraco.library.GetDictionaryItem("Widgets.BlogsTitle")</a></h3>
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var blogPost in blogPosts)
                    {
                        <li>
                            <div class="text-item blog-post-widget">
                                <div class="img-wrap">
                                    <img src="/media/2775/gray-box-testing_detailed.png?anchor=center&mode=crop&width=511&height=300&rnd=131003729420000000" alt="" />
                                    <span class="color-overlay"></span>
                                    <span class="blue-overlay"></span>
                                </div>

                                <h4 class="blog-post-title"><a href="@blogPost.NiceUrl">@blogPost.Name</a></h4>
                                @*<p>
                                    @Regex.Replace(blogPost.RteContent, @"<(.|\n)*?>", string.Empty).Substring(0, 120) ...
                                </p>*@
                                <div class="blog-post-details">
                                    @if (blogPost.Author.HasValue)
                                    {
                                        var author = ContentHelper.GetByNodeId<TeamMember>(blogPost.Author.Value);
                                        <span class="author">@author.FirstName @author.LastName</span>
                                    }
                                    <span class="date">@blogPost.PostDate.ToString("MM/dd/yy")</span>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
}