@using Vega.USiteBuilder;
@using SmartCat.Business.Helpers;
@using SmartCat.Entities.DocumentTypes;
@using SmartCat.Entities.DocumentTypes.Repository;

@model List<int>

@{
    Layout = null;
    
    if (Model != null && Model.Any())
    {
        var technologies = WidgetsHelper.TechnologyWidget(Model);

        if (technologies != null && technologies.Any())
        {
            <div class="widget slider">
                <h3><a>@umbraco.library.GetDictionaryItem("Widgets.TechnologiesTitle")</a></h3>
                <div class="flexslider challengers">
                    <ul class="slides">

                        @foreach (var technology in technologies)
                        {
                            <li>
                                <div class="text-item technology-widget">
                                    <div class="img-wrap">
                                        <a href="@technology.TechnologyLink.Url">
                                            <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(technology.TechnologyImage.Value))" alt="" />
                                        </a>
                                    </div>
                                    <div class="title">
                                        <h4><a href="@technology.TechnologyLink.Url">@technology.Name</a></h4>
                                    </div>
                                    <p>@technology.TechnologyDescription</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
}