@using SmartCat.Business.Helpers;
@model SmartCat.Entities.DocumentTypes.Repository.Footer

<footer class="footer">
    <section class="top">
        <img src="/img/star-texture.png" alt="" />

        @if (!string.IsNullOrEmpty(Model.IntroductionText))
        { 
            <div class="wrapper">
               @Html.Raw(Model.IntroductionText)
            </div>
        }
    </section>

    <div class="contact-block">
        <div class="wrapper">
            <h4>Contact us</h4>

          
            <form id="theForm" name="theForm" class="simform" autocomplete="off">
                <div class="simform">
                    <div class="simform-inner">
                        <ol class="questions">
                            <li>
                                <span><label for="SenderName">What's your name? <span>(Please fill the field before continuing)</span></label></span>
                                <input id="SenderName" name="senderName" type="text" />
                            </li>
                            <li>
                                <span><label for="SenderEmail">What's your email?</label></span>
                                <input id="SenderEmail" name="senderEmail" type="text" />
                            </li>
                            <li>
                                <span><label for="Subject">What would you like to contact us about?</label></span>
                                <input id="Subject" name="subject" type="text" />
                            </li>
                            <li>
                                <span><label for="Message">Write your message</label></span>
                                <input id="Message" name="message" type="text" />
                            </li>
                        </ol><!-- /questions -->
                        <button class="submit" type="submit">Send answers</button>
                        
                        <div class="controls">
                            <button class="next"></button>
                            <div class="progress"></div>
                            <span class="number">
                                <span class="number-current"></span>
                                <span class="number-total"></span>
                            </span>
                            <span class="error-message"></span>
                        </div><!-- / controls -->
                    </div><!-- /simform-inner -->
                    <span class="final-message"></span>
                </div>
            </form>


                <ul class="social show-on-mobile">
                    @if (!string.IsNullOrEmpty(Model.GitHub))
                    {
                        <li>
                            <a href="@Model.GitHub" class="ico github" target="_blank"></a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Twitter))
                    {
                        <li>
                            <a href="@Model.Twitter" class="ico twitter" target="_blank"></a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Stackoverflow))
                    {
                        <li>
                            <a href="@Model.Stackoverflow" class="ico stackoverflow" target="_blank"></a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.LinkedIn))
                    {
                        <li>
                            <a href="@Model.LinkedIn" class="ico linked" target="_blank"></a>
                        </li>
                    }
                </ul>
                <a href="javascript:;" class="scroll-top show-on-mobile"></a>
</div>
    </div>

    <div class="bottom">
        <div class="wrapper">
            <div class="left">

                @if (Model.FooterLogoImage.HasValue)
                {
                    <a href="/" class="logo">
                        <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.FooterLogoImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.FooterLogoImage.Value))" />
                    </a>
                }
                
                @Html.Raw(@Model.Copyright)

            </div>
            <ul class="info-list">
                @if (!string.IsNullOrEmpty(Model.Address))
                {
                    <li>
                        <span>
                            <i class="ico pin"></i>
                            Danila Kiša 3V/14, Novi Sad, 21000, Serbia
                        </span>
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.TelephoneNumber))
                {
                    <li>
                        <a href="tel:@Model.TelephoneNumberHref">
                            <i class="ico telephone"></i>
                            @Model.TelephoneNumber
                        </a>
                    </li>
                }
               @if (!string.IsNullOrEmpty(Model.Email))
               {
                    <li>
                        <a href="mailto: @Model.Email">
                            <i class="ico mail"></i>
                            @Model.Email
                        </a>
                    </li>
               }
            </ul>
        </div>
    </div>
</footer>
