@using SmartCat.Business.Helpers;
@using Vega.USiteBuilder;

@model SmartCat.Entities.DocumentTypes.Repository.Header

@{
    Umbraco.Web.UmbracoHelper umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var headerClass = umbracoHelper.AssignedContentItem.DocumentTypeAlias == "Home" ? "home" : string.Empty;
}

<header class="header @headerClass">
    <div class="wrapper">

        @if (Model.LogoImage.HasValue)
        {
            <a href="/" class="logo">
                <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.LogoImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.LogoImage.Value))" />
            </a>
        }

        <div class="search-desktop">
            <div class="search-wrapper">
                <a href="javascript:;" class="btn-search" onclick="$('#searchForm').submit();">
                    <i class="ico"></i>
                </a>
                <form id="searchForm" method="get" action="@Model.SearchUrl" name="searchForm">
                    <input id="s" name="s" type="search" placeholder="Search">
                </form>
            </div>

            <a href="javascript:;" class="open-search">
                <i class="ico"></i>
            </a>
        </div>

        <ul class="social">
            @if (!string.IsNullOrEmpty(Model.GitHub))
            {
                <li>
                    <a href="@Model.GitHub" target="_blank"><i class="ico github"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Twitter))
            {
                <li>
                    <a href="@Model.Twitter" target="_blank"><i class="ico twitter"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.LinkedIn))
            {
                <li>
                    <a href="@Model.LinkedIn" target="_blank"><i class="ico linked"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Facebook))
            {
                <li>
                    <a href="@Model.Facebook" target="_blank"><i class="ico facebook"></i></a>
                </li>
            }
        </ul>

        @if (!string.IsNullOrEmpty(Model.TelephoneNumber))
        {
            <a href="tel:@Model.TelephoneNumberHref" class="phone">@Model.TelephoneNumber</a>
        }


        <div class="menu-wrapper">
            <nav class="main-nav">
                <a href="javascript:;" class="close-menu">
                    <i class="ico"></i>
                </a>

                @{
                    var menuItems = new List<umbraco.NodeFactory.Node>();

                    var homePage = NodeHelper.Settings.Home.Value;
                    if (homePage != null)
                    {
                        menuItems = uQuery.GetNode(homePage).GetChildNodes().Where(x => x.GetProperty<bool>("umbracoNaviHide") != true && x.template != 0).ToList();
                    }
                }

                @if (menuItems != null && menuItems.Any())
                {
                    <ul>

                        @foreach (var menuItem in menuItems)
                        {
                            var activeClass = menuItem.Id == umbraco.presentation.nodeFactory.Node.GetCurrent().Id || menuItem.ChildrenAsList.Any(x => x.Id == umbraco.presentation.nodeFactory.Node.GetCurrent().Id) ? "active" : string.Empty;
                            
                            if (menuItem.NodeTypeAlias == "Blog")
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl" class="@activeClass">
                                        <i class="ico cat"></i>
                                        <strong>@menuItem.Name</strong>
                                    </a>
                                </li>
                            }
                            else if (menuItem.NodeTypeAlias == "Technologies")
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl" class="@activeClass">
                                        <span class="t-desktop">@menuItem.Name</span>
                                        <span class="t-desktop-small">Techs</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl" class="@activeClass">@menuItem.Name</a>
                                </li>
                            }
                        }

                    </ul>
                }

                <div class="search-box">
                    <form id="msearchForm" method="get" action="@Model.SearchUrl" name="searchForm">
                        <input id="s" name="s" type="text" placeholder="@umbracoHelper.GetDictionaryValue("Common.Search")">
                    </form>
                    <a href="javascript:;" class="search-btn" onclick="$('#msearchForm').submit();">
                        <i class="ico"></i>
                    </a>
                </div>
            </nav>
        </div>
        <a href="javascript:;" class="menu-btn"><i class="ico"></i></a>
    </div>
</header>

