@using SmartCat.Business.Helpers;
@using Vega.USiteBuilder;

@model SmartCat.Entities.DocumentTypes.Repository.Header

<header class="header">
    <div class="wrapper">
        
            @if (Model.LogoImage.HasValue)
            {
                <a href="/" class="logo">
                    <img src="@MediaHelper.GetMediaUrl(MediaHelper.GetMediaById(Model.LogoImage.Value))" alt="@MediaHelper.GetImageAlternateText(MediaHelper.GetMediaById(Model.LogoImage.Value))" />
                </a>
            }
                
        <div class="search-desktop">
            <div class="search-wrapper">
                <a href="javascript:;" class="btn-search">
                    <i class="ico"></i>
                </a>
                <input type="search" placeholder="Search">
            </div>

            <a href="javascript:;" class="open-search">
                <i class="ico"></i>
            </a>
        </div>

        <ul class="social">
            @if (!string.IsNullOrEmpty(Model.GitHub))
            {
                <li>
                    <a href="@Model.GitHub" target="_blank"><i class="ico github"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Twitter))
            {
                <li>
                    <a href="@Model.Twitter" target="_blank"><i class="ico twitter"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Stackoverflow))
            {
                <li>
                    <a href="@Model.Stackoverflow" target="_blank"><i class="ico stackoverflow"></i></a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.LinkedIn))
            {
                <li>
                    <a href="@Model.LinkedIn" target="_blank"><i class="ico linked"></i></a>
                </li>
            }
        </ul>

        @if (!string.IsNullOrEmpty(Model.TelephoneNumber))
        {
            <a href="tel:@Model.TelephoneNumberHref" class="phone">@Model.TelephoneNumber</a>
        }
        

        <div class="menu-wrapper">
            <nav class="main-nav">
                <a href="javascript:;" class="close-menu">
                    <i class="ico"></i>
                </a>

                @{
                    var menuItems = new List<umbraco.NodeFactory.Node>();
                    
                    var umbracoHelper = new UmbracoHelper();
                    var homePage = NodeHelper.Settings.Home.Value;
                    if (homePage != null)
                    {
                        menuItems = uQuery.GetNode(homePage).GetChildNodes().Where(x => x.GetProperty<bool>("umbracoNaviHide") != true).ToList();
                    }
                }

                @if (menuItems != null && menuItems.Any())
                {
                    <ul>

                        @foreach (var menuItem in menuItems)
                        {
                            if (menuItem.NodeTypeAlias == "Blog")
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl">
                                        <i class="ico cat"></i>
                                        <strong>@menuItem.Name</strong>
                                    </a>
                                </li>
                            }
                            else if (menuItem.NodeTypeAlias == "Technologies")
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl">
                                        <span class="t-desktop">@menuItem.Name</span>
                                        <span class="t-desktop-small">Techs</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@menuItem.NiceUrl">@menuItem.Name</a>
                                </li>
                            }
                        }

                        @*<li>
                            <a href="services.html">Services</a>
                        </li>
                        <li>
                            <a href="technologies.html">
                                <span class="t-desktop">Technologies</span>
                                <span class="t-desktop-small">Techs</span>
                            </a>
                        </li>
                        <li>
                            <a href="process.html" class="active">Process</a>
                        </li>
                        <li>
                            <a href="team.html">Team</a>
                        </li>
                        <li>
                            <a href="blog.html">
                                <i class="ico cat"></i>
                                <strong>Blog</strong>
                            </a>
                        </li>
                        <li>
                            <a href="news.html">News</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>*@

                    </ul>
                }

               
                <div class="search-box">
                    <input type="text">
                    <a href="javascript:;" class="search-btn">
                        <i class="ico"></i>
                    </a>
                </div>
            </nav>
        </div>
        <a href="javascript:;" class="menu-btn"><i class="ico"></i></a>
    </div>
</header>
