<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link href="/favicon.ico" rel="icon" />
    <title>@SmartCat.Common.Constants.Website.WebsiteName | @ViewBag.Title</title>

    <meta name="description" content="@ViewBag.SeoDescription">
    <meta name="keywords" content="@ViewBag.SeoKeywords" />
    <meta name="author" content="@ViewBag.SeoAuthor" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css" media="screen" />

    <script type="text/javascript" src="/scripts/libs/modernizr-2.6.2.min.js"></script>
    @Html.Raw(SmartCat.Business.Helpers.NodeHelper.Settings.GoogleAnalyticsScript)

    @RenderSection("additionalHeaderSection",false)

</head>
<body>

    <div class="container">
     
        @{Html.RenderAction("GetHeader", "LayoutSufrace");}

        @RenderBody()

        @{ 
            var hide = ViewBag.HideFooterContactForm != null ? ViewBag.HideFooterContactForm : false;
        }

        @{Html.RenderAction("GetFooter", "LayoutSufrace", new { hideFooterContactForm = hide });}
        

    </div>

    <!-- javascript -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write("<script src='assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="/scripts/libs/classie.js"></script>
    <script type="text/javascript" src="/scripts/libs/jquery.sticky.js"></script>
    <script type="text/javascript" src="/scripts/libs/stepsForm.js"></script>
    <script type="text/javascript" src="/scripts/libs/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/scripts/libs/grayscale.js"></script>

    <script type="text/javascript" src="/scripts/main/default.js"></script>
    <script type="text/javascript" src="/scripts/libs/functions.js"></script>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @RenderSection("additionalFooterSection", false)

</body>
</html>
